<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxSSPaBrDbLJ5-OZFm5Sfxe44tIMP0mIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>286733922444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiyochinh.democicd</string>
	<key>PROJECT_ID</key>
	<string>reyelitevn-dd667</string>
	<key>STORAGE_BUCKET</key>
	<string>reyelitevn-dd667.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286733922444:ios:e25f288131ba45b70e8ba9</string>
</dict>
</plist>